{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<h1>Cincinatti bengals</h1>
<p><b>Tight End:</b> Hayden Hurst has played exceptional when healthy, however the team also lacks depth considerably at the position plus Hurst hits FA this season. The Bengals will certainly be in the market for a TE this season.</p>
<p><b>Interior Defensive Line:</b> Cincinnati's DL has performed exceptional throughout the majority of the year, but the team lacks depth at the position and could specifically use someone who can playing inside and out to effect the QB on passing downs.</p>
<p><b>Safety:</b> With starters Jessie Bates lll and Vonn Bell both hitting the open market this year, the team will likely need to find 2 safeties that can pair along with 1st round pick Daxton Hill.</p>
- Blake Jude
<hr>
<div><img src="{% static 'main/Untitled-14.png' %}" class="float-end" alt="image not found" height="1100">
<div style="overflow: hidden; margin: 0px auto; max-width: 1000px;">
<iframe src="https://www.ourlads.com/nfldepthcharts/depthchart/CIN" class="float-end" style="border: 0px none; margin-left: -300px; height: 1480px; margin-top: -330px; width: 926px;" scrolling="no"> </iframe>
</div>


{% endblock %}