{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<h1>Indianapolis Colts</h1>
<p><b>Quarterback:</b> the team keeps reaching at quarterbacks proven to be “good” in the past because it's the safer choice than taking a quarterback who doesn't pan out. The team has to take a young quarterback or figure out some alternative that is good enough not to waste the roster. Even a game manager like Jared Goff or Jimmy Garrapolo would be a good enough fix.</p>
<p><b>Offensive Line:</b> The colts offensive line forgot how to play football this season. Rookie Bernhard Raimann at LT has shown loads of promise so I don't think you could designate blame to him for the lines struggles. Braden Smith is on a recently signed large contract extension and hasn't been awful. The right guard position was left thin all off-season and the consequences showed all year, as well as a GIANT regression from center Ryan Kelly that left even Quenton Nelson's play taking a notable decline. This is the IMMEDIATE number one priority after you decide who the quarterback is going to be.</p>
<!-- <p><b>Runningback:</b> JK Dobbins and Gus Edwards have struggled to stay healthy and Dobbins may want out. The Ravens could use another back for one of the most dangerous rush attacks in NFL histroy</p> -->
-John Davis
<hr>
<div><img src="{% static 'main/Untitled-15.png' %}" class="float-end" alt="image not found" height="1100">
<div style="overflow: hidden; margin: 0px auto; max-width: 1000px;">
<iframe src="https://www.ourlads.com/nfldepthcharts/depthchart/IND" class="float-end" style="border: 0px none; margin-left: -300px; height: 1500px; margin-top: -330px; width: 926px;" scrolling="no"> </iframe>
</div>


{% endblock %}