{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<h1>New York Giants</h1>
<p><b>Quarterback:</b> Doesn’t need an explanation. Taylor Heiniecke may be fun to watch, but he is far from a player worthy of starting. It's no secret why Washington contacted every team about their quarterback last year.</p>
<p><b>Offensive Line:</b> The offensive line has been very disappointing for what was a top-10 unit last year. With Chase Roullier’s future in doubt it may be time for a complete overhaul.</p>
<p><b>Cornerback:</b> Despite the emergence of Benjamin St. Juste and resurgence of Kendall Fuller is certainly welcome, there is not much behind them. And unless St. Juste takes another big leap, Washington still lacks a true shutdown corner, which could take this defense to the next level.</p>
- Clark
<hr>
<div><img src="{% static 'main/Untitled-18.png' %}" class="float-end" alt="image not found" height="1100">
<div style="overflow: hidden; margin: 0px auto; max-width: 1000px;">
<iframe src="https://www.ourlads.com/nfldepthcharts/depthchart/WAS" class="float-end" style="border: 0px none; margin-left: -300px; height: 1500px; margin-top: -330px; width: 926px;" scrolling="no"> </iframe>
</div>


{% endblock %}