{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<h1>Dallas Cowboys</h1>
<p><b>Wide Receiver:</b> Dak needs a second receiver as his play has dropped off after losing Amari Cooper.</p>
<p><b>Cornerback:</b> Anthony Brown tore his achilles and is a free agent. The Cowboys will need to replace him.</p>
<p><b>Runningback:</b> Run defense needs help very badly and need guys outside of Micah Parsons to make plays.</p>
- Rishad Mahmood
<hr>
<div><img src="{% static 'main/Untitled-16.png' %}" class="float-end" alt="image not found" height="1100">
<div style="overflow: hidden; margin: 0px auto; max-width: 1000px;">
<iframe src="https://www.ourlads.com/nfldepthcharts/depthchart/DAL" class="float-end" style="border: 0px none; margin-left: -300px; height: 1520px; margin-top: -330px; width: 926px;" scrolling="no"> </iframe>
</div>


{% endblock %}