{% extends 'main/base.html' %}
{% block content %}
{% load static %}

<div><img src="{% static 'main/Untitled-1.png' %}" class="float-end" alt="image not found" height="615">
<h1>Quarterback</h1>
<p><b>Arm Strength:</b> Ball velocity, trajectory, and distance on a quarterbacks throws</p>
<p><b>Size:</b> Height and weight quantified</p>
<p><b>Short Accuracy:</b> Accuracy on throws generally inside of 10 yards. Short throws are mainly judged on how well the quarterback hits his receiver in stride, allowing him to easily catch and create run after catch opportunities.</p>
<p><b>Deep Accuracy:</b> Quarterbacks ability to throw the ball deep and to intermediate levels (10-30 yards). Ability to layer throws over and in front of defenders. Throws receivers open, away from leverage, or allows for easy tracks.</p>
<p><b>Mobility:</b> The Quarterbacks ability to sense and evade pressure. Pocket manipulation and presceince. Ability to create favorable situations in and out of structure.</p>
<p><b>Processing:</b> Ability to process defensive coverage pre and post snap. Quickly going through progressions and ability to read the entire field.</p>
<p><b>Decicion Making:</b> Mainly the ratio in which a quarterback takes risks to make big plays and avoid turnovers</p>
<p><b>Athleticism:</b> Speed and movement skills.</p>
<p><b>Mechanics:</b> Footwork and release time on all throws</p>
<p><b>Timing and Anticipation:</b> Ability to throw at the ideal time and anticipate leverage. Rhythm.</p>
<p><b>Ball Carrying:</b> Running ability with the ball in hands exclusive to any passing play. Essentially a general grade for runnning back traits.</p>
<hr>
</div>
<img src="{% static 'main/Untitled-2.png' %}" class="float-end" alt="image not found" height="455">
<h1>Runningback</h1>
<p><b>Size:</b> Height and weight quantified</p>
<p><b>Vision:</b> Ability to read running lanes and maximize yardage based off of whats given.</p>
<p><b>Balance:</b> Ability to maintain balance through contact. Ability to break tackles.</p>
<p><b>Elusiveness:</b> Ability to evade defenders and tacklers in the open field and short areas.</p>
<p><b>Speed</b> Straightline speed. Quantified workout numbers and 'game speed'.</p>
<p><b>Burst:</b> Ability to accellerate given a rushing lane and how quickly a runningback can get to top speed.</p>
<p><b>Pass blocking:</b> Ability to process blitzing defenders, anchor and maintain blocks in the pass game.</p>
<p><b>Mechanics:</b> Footwork and release time on all throws</p>
<p><b>Fumble:</b> Ball security and how often a runningback fumbles.</p>
<p><b>Change of Direction:</b> Ability to quickly change running direction.</p>
<hr>
<img src="{% static 'main/Untitled-3.png' %}" class="float-end" alt="image not found" height="520">
<h1>Wide Receiver</h1>
<p><b>Size:</b> Height and weight quantified</p>
<p><b>Speed</b> Straightline speed. Quantified workout numbers and 'game speed'.</p>
<p><b>Change of Direction:</b> Ability to quickly change running direction.</p>
<p><b>Release:</b> Ability to create initial seperation off the line of scrimmage against press coverage.</p>
<p><b>Short Route Running:</b> Ability to create seperation on routes that break within 5 yards.</p>
<p><b>Deep Route Running:</b> Ability to create seperation on intermediate and deep routes, and the ability to stem off of them. Ball tracking also plays a big factor in this trait.</p>
<p><b>Hands: </b> Ability to bring a pass in that is in a catchable location consistently.</p>
<p><b>Catch In Traffic:</b> Ability to catch a pass through contact.</p>
<p><b>Ball Skills</b> Body control and ability to attack the football in air. Leverage and physicality at the catch point.</p>
<p><b>Run After Catch</b> Running ability with the ball in hands. Essentially a general grade for runnning back traits.</p>
<p><b>Blocking:</b> Ability to sustain blocks and move defenders off of their spot in the run game. More emphasis on run blocking.</p>
<hr>
<img src="{% static 'main/Untitled-4.png' %}" class="float-end" alt="image not found" height="560">
<h1>Tight End</h1>
<p><b>Size:</b> Height and weight quantified</p>
<p><b>Speed</b> Straightline speed. Quantified workout numbers and 'game speed'.</p>
<p><b>Change of Direction:</b> Ability to quickly change running direction.</p>
<p><b>Release:</b> Ability to create initial seperation off the line of scrimmage against press coverage.</p>
<p><b>Short Route Running:</b> Ability to create seperation on routes that break within 5 yards.</p>
<p><b>Deep Route Running:</b> Ability to create seperation on intermediate and deep routes, and the ability to stem off of them. Ball tracking also plays a big factor in this trait.</p>
<p><b>Hands: </b> Ability to bring a pass in that is in a catchable location consistently.</p>
<p><b>Catch In Traffic:</b> Ability to catch a pass through contact.</p>
<p><b>Ball Skills</b> Body control and ability to attack the football in air. Leverage and physicality at the catch point.</p>
<p><b>Run After Catch</b> Running ability with the ball in hands. Essentially a general grade for runnning back traits.</p>
<p><b>Run Blocking:</b> Ability to sustain blocks and move defenders off of their spot in the run game. </p>
<p><b>Pass Blocking:</b> Pass blocking footwork and ability to anchor and sustain blocks in the pass game.</p>
<hr>
<img src="{% static 'main/Untitled-5.png' %}" class="float-end" alt="image not found" height="480">
<h1>Interior O line</h1>
<p><b>Size:</b> Height and weight quantified</p>
<p><b>Pass Sets:</b> Pass blocking footwork and ability to anchor and sustain blocks in the pass game.</p>
<p><b>Run Blocking:</b>  Ability to sustain blocks and move defenders off of their spot in the run game. </p>
<p><b>Impact Blocking: </b> Point of attack blocking. How much can player move a defender off the ball upon first contact.</p>
<p><b>Move Blocking:</b> Ability to block in space and reach. This trait mainly manifests in zone run schemes.</p>
<p><b>Strength:</b> A players raw physical strength. Quantified workout numbers and play strength</p>
<p><b>Athleticism:</b> Speed and movement skills quantified by tape and workout numbers.</p>
<p><b>Hands and Leverage: </b> Ability to win reps with hand fighting and placement and gain leverage on defenders</p>
<p><b>Anchor: </b> Ability to hold ground once engaged with a pass rusher. </p>
<p><b>Lean/Weight Distribution</b> How well a player maintains good weight distribution in posture while playing. How much do they bend or lunge.</p>
<hr>
<img src="{% static 'main/Untitled-6.png' %}" class="float-end" alt="image not found" height="520">
<h1>Tackle</h1>
<p><b>Size:</b> Height and weight quantified</p>
<p><b>Pass Sets:</b> Pass blocking footwork and ability to anchor and sustain blocks in the pass game.</p>
<p><b>Run Blocking:</b>  Ability to sustain blocks and move defenders off of their spot in the run game. </p>
<p><b>Impact Blocking: </b> Point of attack blocking. How much can player move a defender off the ball upon first contact.</p>
<p><b>Move Blocking:</b> Ability to block in space and reach. This trait mainly manifests in zone run schemes.</p>
<p><b>Strength:</b> A players raw physical strength. Quantified workout numbers and play strength</p>
<p><b>Athleticism:</b> Speed and movement skills quantified by tape and workout numbers.</p>
<p><b>Hands and Leverage: </b> Ability to win reps with hand fighting and placement and gain leverage on defenders</p>
<p><b>Anchor: </b> Ability to hold ground once engaged with a pass rusher. </p>
<p><b>Lean/Weight Distribution</b> How well a player maintains good weight distribution in posture while playing. How much do they bend or lunge.</p>
<p><b>Kickset</b> How well a tackle gets to his pass set and puts himself in a position to anchor/mirror.</p>
<hr>
<img src="{% static 'main/Untitled-7.png' %}" class="float-end" alt="image not found" height="520">
<h1>Interior Defensive Line</h1>
<p><b>Size:</b> Height and weight quantified</p>
<p><b>Strength:</b> A players raw physical strength. Quantified workout numbers and play strength</p>
<p><b>Power Rush:</b> Ability to apply pressure in the pass game through power. Bull bush emphasis.</p>
<p><b>Finesse Rush:</b>  Ability to apply pressure in the pass game through various pass rushing techniques that do not involve power(swim, chop, club, rip). </p>
<p><b>Getoff: </b> Speed and accelleration of first step. How quickly a player can be in position to disrupt a play.</p>
<p><b>Bend:</b> Ability to contort body parrallel or low to the ground in order to gain leverage on opposing blockers.</p>
<p><b>Athleticism:</b> Speed and movement skills quantified by tape and workout numbers.</p>
<p><b>Hands and Leverage: </b> Ability to win reps with hand fighting and placement and gain leverage on opposing blockers.</p>
<p><b>Shed: </b> Ability to disengage from blocks once engaged. </p>
<p><b>Point of Attack: </b> Ability to take on blocks at first point of contact and hold ground.</p>
<p><b>Motor: </b> Effort and length in which a player is playing hard during a rep.</p>
<hr>
<img src="{% static 'main/Untitled-8.png' %}" class="float-end" alt="image not found" height="600">
<h1>Edge Rusher</h1>
<p><b>Size:</b> Height and weight quantified</p>
<p><b>Strength:</b> A players raw physical strength. Quantified workout numbers and play strength</p>
<p><b>Power Rush:</b> Ability to apply pressure in the pass game through power. Bull bush emphasis.</p>
<p><b>Finesse Rush:</b>  Ability to apply pressure in the pass game through various pass rushing techniques that do not involve power(swim, chop, club, rip). </p>
<p><b>Speed Rush:</b>  Ability to apply pressure in the pass game using outside leverage and speed.</p>
<p><b>Getoff: </b> Speed and accelleration of first step. How quickly a player can be in position to disrupt a play.</p>
<p><b>Bend:</b> Ability to contort body parrallel or low to the ground in order to gain leverage on opposing blockers.</p>
<p><b>Athleticism:</b> Speed and movement skills quantified by tape and workout numbers.</p>
<p><b>Hands and Leverage: </b> Ability to win reps with hand fighting and placement and gain leverage on opposing blockers.</p>
<p><b>Shed: </b> Ability to disengage from blocks once engaged. </p>
<p><b>Point of Attack: </b> Ability to take on blocks at first point of contact and hold ground.</p>
<p><b>Motor: </b> Effort and length in which a player is playing hard during a rep.</p>
<p><b>Tackling: </b> Ability to bring down a ballcarrier in any given position.</p>
<hr>
<img src="{% static 'main/Untitled-9.png' %}" class="float-end" alt="image not found" height="583">
<h1>Linebacker</h1>
<p><b>Size:</b> Height and weight quantified</p>
<p><b>Speed</b> Straightline speed. Quantified workout numbers and 'game speed'.</p>
<p><b>Strength:</b> A players raw physical strength. Quantified workout numbers and play strength</p>
<p><b>Change of Direction:</b> Ability to quickly change running direction.</p>
<p><b>Man Coverage:</b> Ability to follow a receiver throughout duration of the play. Various cover 3 variations and man match are included.</p>
<p><b>Zone Coverage:</b>  Ability to drop to a spot in coverage, get into passing lanes, process and find players to cover in zone coverage and convert to man in short areas. </p>
<p><b>Run Defense:</b>  Back 7 players' ability to take on blocks and fill gaps in the run game.</p>
<p><b>Processing: </b> Ability pre and post snap to diagnose opposing plays.</p>
<p><b>Bend:</b> Ability to contort body parrallel or low to the ground in order to gain leverage on opposing blockers.</p>
<p><b>Shed: </b> Ability to disengage from blocks once engaged. </p>
<p><b>Tackling: </b> Ability to bring down a ballcarrier in any given position.</p>
<p><b>Blitz: </b> A linebackers ability to apply pressure on a blitz. Pass rushing traits are included.</p>
<hr>
<img src="{% static 'main/Untitled-10.png' %}" class="float-end" alt="image not found" height="552">
<h1>Cornerback</h1>
<p><b>Size:</b> Height and weight quantified</p>
<p><b>Speed</b> Straightline speed. Quantified workout numbers and 'game speed'.</p>
<p><b>Change of Direction:</b> Ability to quickly change running direction.</p>
<p><b>Man Coverage:</b> Ability to follow a receiver throughout duration of the play. Various cover 3 variations and man match are included.</p>
<p><b>Zone Coverage:</b>  Ability to drop to a spot in coverage, get into passing lanes, process and find players to cover in zone coverage and convert to man in short areas. </p>
<p><b>Run Defense:</b>  Back 7 players' ability to take on blocks and fill gaps in the run game.</p>
<p><b>Press: </b> Ability to create an advantage in press coverage generally within the first 5 yards. Includes bail and other techniques played when lined up inside 3 yards of the receiver.</p>
<p><b>Ball Skills</b> Body control and ability to attack the football in air. Leverage and physicality at the catch point and ball tracking ability.</p>
<p><b>Tackling: </b> Ability to bring down a ballcarrier in any given position.</p>
<p><b>Transitions : </b> Ability to change course of a coverage. Flipping hips and maintaing footwork to stay with receiver.</p>
<hr>
<img src="{% static 'main/Untitled-11.png' %}" class="float-end" alt="image not found" height="590">
<h1>Safety</h1>
<p><b>Size:</b> Height and weight quantified</p>
<p><b>Speed</b> Straightline speed. Quantified workout numbers and 'game speed'.</p>
<p><b>Change of Direction:</b> Ability to quickly change running direction.</p>
<p><b>Man Coverage:</b> Ability to follow a receiver throughout duration of the play. Various cover 3 variations and man match are included.</p>
<p><b>Zone Coverage:</b>  Ability to drop to a spot in coverage, get into passing lanes, process and find players to cover in zone coverage and convert to man in short areas. </p>
<p><b>Run Defense:</b>  Back 7 players' ability to take on blocks and fill gaps in the run game.</p>
<p><b>Press: </b> Ability to create an advantage in press coverage generally within the first 5 yards. Includes bail and other techniques played when lined up inside 3 yards of the receiver.</p>
<p><b>Ball Skills</b> Body control and ability to attack the football in air. Leverage and physicality at the catch point and ball tracking ability.</p>
<p><b>Tackling: </b> Ability to bring down a ballcarrier in any given position.</p>
<p><b>Range : </b> How much ground a safety can cover in deep coverage.</p>
<p><b>Strength:</b> A players raw physical strength. Quantified workout numbers and play strength</p>
<hr>

{% endblock %}