{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<h1>New York Giants</h1>
<p><b>Wide Receiver:</b> They employ Kenny Golladay, their best receiver is Isaiah Hodgins, and start Richie James.</p>
<p><b>Cornerback:</b> Need a starting caliber guy on the outside and in the slot. Have some decent players that can be pretty solid depth, but not quality starters.</p>
<p><b>Linebacker:</b> Jaylon Smith is on expiring deal, Micah McFadden is unproven, Tae Crowder is not a starting LB.</p>
- Jake Rosen
<hr>
<div><img src="{% static 'main/Untitled-17.png' %}" class="float-end" alt="image not found" height="1100">
<div style="overflow: hidden; margin: 0px auto; max-width: 1000px;">
<iframe src="https://www.ourlads.com/nfldepthcharts/depthchart/NYG" class="float-end" style="border: 0px none; margin-left: -300px; height: 1500px; margin-top: -330px; width: 926px;" scrolling="no"> </iframe>
</div>


{% endblock %}