{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<h1>Jacksonville Jaguars</h1>
<p><b>Cornerback:</b> Darious Williams inconsistent and Shaquille Griffin has been dissapointing.</p>
<p><b>Interior Defensive Line:</b> Need more juice pass rushing wise.</p>
<p><b>Safety:</b>  Could use a chess piece that can play in box as subLB and do many different things to add flavor and versatility to defense.</p>
- Zuha Islam
<hr>
<div><img src="{% static 'main/Untitled-19.png' %}" class="float-end" alt="image not found" height="1100">
<div style="overflow: hidden; margin: 0px auto; max-width: 1000px;">
<iframe src="https://www.ourlads.com/nfldepthcharts/depthchart/JAX" class="float-end" style="border: 0px none; margin-left: -300px; height: 1470px; margin-top: -330px; width: 926px;" scrolling="no"> </iframe>
</div>


{% endblock %}