{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<h1>New York Jets</h1>
<p><b>Linebacker:</b> CJ Mosley is the leader of the group and aging. They've taken some swings at some younger players but they may want to look towards some more established players</p>
<p><b>Wide Receiver:</b> Garrett Wilson is a transcending superstar but questions arise after him. Corey Davis and Elijah Moore haven't stepped up and they may want to look for a better fit if they don't feel comfortable.</p>
<p><b>Safety:</b> The Jets lack back end range in the secondary. Jordan Whitehead and Lamarcus Joyner have more experience in the box, so Saleh may want to look for a more athletic solution</p>
- Henry Friedman
<hr>
<div><img src="{% static 'main/Untitled-20.png' %}" class="float-end" alt="image not found" height="1100">
<div style="overflow: hidden; margin: 0px auto; max-width: 1000px;">
<iframe src="https://www.ourlads.com/nfldepthcharts/depthchart/NYJ" class="float-end" style="border: 0px none; margin-left: -300px; height: 1480px; margin-top: -330px; width: 926px;" scrolling="no"> </iframe>
</div>


{% endblock %}