{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<h1>Baltimore Ravens</h1>
<p><b>Cornerback:</b> Marcus Peters is a free agent and they badly lack depth outside.</p>
<p><b>Wide Receiver:</b> No receiver has caught a touchdown since Rashod Bateman got injured in week 4. The Ravens lack a dynamic receiver outside of him and could use depth/someone to pair with bateman</p>
<p><b>Runningback:</b> JK Dobbins and Gus Edwards have struggled to stay healthy and Dobbins may want out. The Ravens could use another back for one of the most dangerous rush attacks in NFL histroy</p>
<hr>
<div><img src="{% static 'main/Untitled-12.png' %}" class="float-end" alt="image not found" height="1100">
<div style="overflow: hidden; margin: 0px auto; max-width: 1000px;">
<iframe src="https://www.ourlads.com/nfldepthcharts/depthchart/BAL" class="float-end" style="border: 0px none; margin-left: -300px; height: 1550px; margin-top: -330px; width: 926px;" scrolling="no"> </iframe>
</div>


{% endblock %}