{% extends 'main/base.html' %}
{% block content %}
{% load static %}

<h1>Pittsburgh Steelers</h1>
<p><b>Linebacker:</b> Devin Bush is the best ILB who's had an up and down. Myles Jack and Rob Spillane are the next two. The draft is their best chance to grab a good ILB or two, but the trade market and free agency can be viable for improving the core.</p>
<p><b>Cornerback:</b> The cornerback position has been torched at times this year and their best player Cam Sutton could be on his way out. Depth is very week.</p>
<p><b>Offensive Line:</b> Dan Moore Jr. and Chuks Okorafor are far from a good tackle duo. Look towards FA and the draft. Peter Skoronski, Broderick Jones, George Fant and Andre Dillard are some potential replacements for one or both of the Steelers tackle positions.</p>
- Andrew Berg
<hr>
<div><img src="{% static 'main/Untitled-13.png' %}" class="float-end" alt="image not found" height="1100">
<div style="overflow: hidden; margin: 0px auto; max-width: 1000px;">
<iframe src="https://www.ourlads.com/nfldepthcharts/depthchart/PIT" class="float-end" style="border: 0px none; margin-left: -300px; height: 1540px; margin-top: -330px; width: 926px;" scrolling="no"> </iframe>
</div>


{% endblock %}